@font-face {
    font-family: CollegeBlock;
    src: url(resources/College%20Block%202.0%20demo.woff) format("woff");
}

@font-face {
    font-family: Papaya;
    src: url(resources/Papaya%20Sunrise%20D.woff) format("woff");
}

@font-face {
    font-family: Ascota;
    src: url(resources/ASCOTA%20Regular.woff) format("woff");
}

body {
    padding-bottom: 0;
}

@media only screen and (max-width: 1030px) {
    #age-container {
        display: none;
    }
}

#navbar {
    margin-bottom: 0;
    height: 5vh;
    background-color: inherit !important;
    border: 0;
    font-family: "Roboto";
    font-size: 16px;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a, #age-container {
    color: #DCDCDC !important;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-nav>li>a:hover, #age-container:hover {
    color: white !important;
}

#age {
    display: inline-block;
    padding-left: 0;
    padding-right: 0;
}

.navbar-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#padding {
    height: 40vh;
}

.standout {
    text-align: center;
    font-family: 'CollegeBlock';
}

.standout p {
    color: #9F2E65;
    font-size: 35px;
}

.standout h1 {
    color: white;
    font-size: 100px;
}

#firstContainer {
    min-height: 95vh !important;
}

#frontContainer {
    background: url(resources/space.jpg) 0 0 no-repeat;
    background-size: cover;

}

.vertical-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#education {
    background-color: white;
    color: black;
}

.page-header {
    font-family: "Papaya";
    font-size: 40px;
}

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}

.timeline-panel  {
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);  
}

.timeline-panel:hover {
    box-shadow: 0px 0px 150px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.022);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.022);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.022);
    transition: all 200ms ease-in;
    transform: scale(1.022);
    
}

.timeline > li {
  margin-bottom: 20px;
  position: relative;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li > .timeline-panel {
  width: 46%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}

.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}

.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-badge.primary {
  background-color: #2e6da4 !important;
}

.timeline-badge.success {
  background-color: #3f903f !important;
}

.timeline-badge.warning {
  background-color: #f0ad4e !important;
}

.timeline-badge.danger {
  background-color: #d9534f !important;
}

.timeline-badge.info {
  background-color: #5bc0de !important;
}

.timeline-title {
  margin-top: 0;
  color: inherit;
    font-family: "Papaya";
}

.timeline-body {
    font-family: "Roboto";
    font-size: 16px;
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

.timeline-body > p + p {
  margin-top: 5px;
}

#projects {
    margin-top: 5vh;
}

.carousel-inner .carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 2s ease;
}

.carousel-img {
    height: 50vh;
    background-size: cover;
}

#ethereal {
    background-image: url(resources/ether.png);
}

#wikipedia {
    background-image: url(resources/wikipedia.png);
}

#stock {
    background-image: url(resources/stocks.jpg);
}

.projectContainer {
    text-align: center;
    border: 1px solid lightgray;
    padding: 2vh 1vw 2vh 1vw;
    font-family: "Pacifico";
    color: darkslategray;
    
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);  
}

.projectContainer p {
    font-size: 17px;
    font-family: "Ascota";
}

.projectContainer h3 {
    font-size: 28px;
    text-decoration: underline;
}

#projects a {
    text-decoration: underline;
    color: inherit;
}

#projects .row {
    margin-top: -1vh;
}

.projectContainer:hover {
    box-shadow: 0px 0px 60px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.1);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.1);
    transition: all 200ms ease-in;
    transform: scale(1.1);
}

#rowPadding {
    height: 5vh;
}

.imgContainer {
    height: 100%;
}


#projects > .row > a {
    margin-top: 4vh;
}

.project-link-container {
    margin-top: 4vh;
}

footer {
    font-family: "Roboto";
}

#footerContainer {
    margin-top: 5vh;
    margin-left: 0;
    margin-right: 0;
    background-color: #F0F0F0;
    padding: 3vh 0 1vh 0;
}

.footer-header {
    font-size: 20px;
    margin-bottom: 0.6vh;
    font-weight: bolder;
}

#footer-copyright {
    margin-top: 3vh;
    text-align: center;
}

.footer-list > .footer-list-item:not(:last-child) {
    margin-bottom: 0.6vh;
}

.glyphicon-record {
    font-size: 10px;
}